*House Prices: Advanced Regression Techniques*
# 01 Only numerical features
---

**Without peeking at solutions üôàüåÅ**

This is my first Kaggle competition. How exciting üî•. I‚Äôm feeling pretty uncomfortable attempting this without looking at anyone else‚Äôs solution, or guidance. But this is going to be good practice.

My goal here is to follow some basic process of getting the data, inspecting it, preparing it, training and evaluating a model. I‚Äôm aware I won‚Äôt necessarily reach the best accuracy. But my goal here is to practice thinking for myself, and only looking at API docs for Python, the libraries, etc. ‚Äî¬†not at any guides.

## Rough process

1. Get the data
2. Inspect the data
3. Prep the data if necessary
4. Choose the features to use in a model
5. Train a model

## 0. Prep üî™üßÖ
---

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 1. Get the data
---

In [2]:
train_X = pd.read_csv("train.csv", index_col="Id")
test_X = pd.read_csv("test.csv", index_col="Id")

## 2. Inspect the data
---

In [3]:
train_X

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

### Uncomment the line below to display all columns

Don‚Äôt truncate the columns, let me see the whole thing:

In [4]:
# pd.set_option("display.max_columns", None)

## 3. Prep the features to use in a model
---

Let‚Äôs focus exclusively on numerical features and see what accuracy we can get.

### Select numerical features and examples with missing values

In [5]:
train_X = train_X.select_dtypes(include=np.number).dropna()

### Move `SalePrice` to target data variable

The last column of the training data seems to include our target labels.

In [6]:
train_X, train_y = train_X.iloc[:, :-1], train_X.iloc[:, -1]

## 4. Train a model
---

In [7]:
from sklearn.ensemble import RandomForestRegressor

In [8]:
clf = RandomForestRegressor(random_state=0)

In [9]:
clf.fit(train_X, train_y)

RandomForestRegressor(random_state=0)

## 5. Get predictions from the model
---

First, select the numerical features out of the test set, and fill missing values with 0.

In [10]:
test_X = test_X.select_dtypes(include=np.number).fillna(0)

In [11]:
predictions = clf.predict(test_X)

In [12]:
print(predictions, predictions.dtype, len(predictions), sep=" ‚Äî‚Äî‚Äî ")

[123689.5  155443.25 184799.8  ... 155892.62 125826.83 248012.7 ] ‚Äî‚Äî‚Äî float64 ‚Äî‚Äî‚Äî 1459

### Save predictions as a CSV submission file

We‚Äôll need a `DataFrame` object with labeled indices, and right now we have a NumPy array.

In [13]:
submission = pd.DataFrame(predictions, index=test_X.index, columns=["SalePrice"])

In [14]:
submission

      SalePrice
Id
1461  123689.50
1462  155443.25
1463  184799.80
1464  185041.75
1465  210528.73
...         ...
2915   91257.36
2916   90316.50
2917  155892.62
2918  125826.83
2919  248012.70

[1459 rows x 1 columns]

In [15]:
submission.to_csv("submission_01.csv")